@import "./global.css";
@import url('https://fonts.googleapis.com/css?family=Jomolhari|Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jomolhari|Roboto&display=swap');


.nav{
    display: flex;
    justify-content: space-around;
    background: #262626;
    height: 80px;
}

a {
    text-decoration: none;
    color: rgb(188, 189, 188);
}

.navMeunu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.navMeunu div{
    margin-right: 35px;
}

.navParentLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogo{
    width: 150px;
    height: 150px;
}
