
.navbar {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(58, 57, 57);
}

a {
    text-decoration: none;
    color: rgb(212, 209, 209);
    margin-top: 20px;

    font-size: 25px;
}

.sidbar-column {
    display: flex;
}

footer {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(58, 57, 57);
    color: rgb(212, 209, 209);
}

.content {
    display: flex;
    height: 50vh;
    width: 100%;
    background: rgb(212, 209, 209);

}

.left-container {
    width: 200px;
    height: 280px;  
    margin-top: 40px;
    background: rgb(58, 57, 57);
}

.sitebar-link {
    margin: 25px;
    color: rgb(58, 57, 57);
}

.right-container {
    height: 50vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
}

.user-cart {
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}