.navbar {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(53, 52, 52);
}

a {
    text-decoration: none;
    color: rgb(177, 177, 177);
    margin: 0 15px;
    font-size: 25px;
}

.sidbar-column {
    display: flex;
}

.sidebar {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background: rgb(136, 135, 135);
}

a {
    margin-top: 30px;
}

footer {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(53, 52, 52);
    color: gray;
}

.content {
    display: flex;
    height: 50vh;
    width: 100%;
    background: rgb(158, 157, 157);

}

.left-container {
    width: 200px;
    height: 280px;  
    margin-top: 20px;
    background: rgb(187, 185, 185);
}

.sitebar-link {
    margin: 25px;
    color: rgb(58, 57, 57);
}
