$nav-height: 80px;
$footer: 80px;
$darkgray: rgb(58, 57, 57);
$lightgray: rgb(212, 209, 209);

body {
    padding: 0;
    margin: 0;
}

.navbar {
    height: $nav-height;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $darkgray;
}

a {
    text-decoration: none;
    color: $lightgray;
;
    margin-top: 20px;

    font-size: 25px;
}

.sidbar-column {
    display: flex;
}

footer {
    height: $footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $darkgray;
    color: $lightgray;
}

.content {
    display: flex;
    background: $lightgray;
    min-height: calc(100vh - #{$footer} - #{$nav-height});

}

.left-container {
    height: 280px;
    margin-top: 40px;
    background: $darkgray;
}

.sitebarColumn{
    width: 250px;
}

.sitebar-link {
    margin: 25px;
    color: $darkgray;
}

.right-container {
    margin: 50px;
    box-sizing: border-box;
}


.user-carts{
    display: flex;
    flex-wrap: wrap;
}

.user-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    border: 1px solid $darkgray;
    width: 250px;
    background: $lightgray;
}

.user-id {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    color: $darkgray;
}

.user-title,
.user-body {
    margin: 15px;
}

.total-user-info {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $darkgray;
    font-size: 40px;
    color: $lightgray;
}

.contact-page {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contact-page span {
    font-size: 25px;
    margin: 10px
}

.contact-page img {
    // height: 50vh;
    width: 50vw;
}

.userInfoContainer{
    display: flex;
    flex-wrap: wrap;
}

.userInfoCart{
    height: 200px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid $darkgray;
    margin: 7px;
    box-shadow: 5px 5px 6px rgba(78, 77, 77, 0.5);
}

.userInfoCart span {
    margin: 10px;
    font-size: 18px;
}